In [2]:
import pandas as pd

In [5]:
df=pd.read_csv(r'C:\Users\raj\finalproj1\archive (1)\olist_customers_dataset.csv')
df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [7]:
df.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

In [ ]:
df.to_csv(r'C:\Users\raj\finalproj1\archive (1)\new_olist_customers_dataset.csv', index=False, quoting=0)
print("")

In [11]:
import os

input_dir = r'C:\Users\raj\finalproj1\archive (1)'
output_dir = r'C:\Users\raj\finalproj1\new_archive (1)'

for file in os.listdir(input_dir):
    if file.endswith('.csv'):
        input_file_path = os.path.join(input_dir, file)
        output_file_path = os.path.join(output_dir, file)
        
        df = pd.read_csv(input_file_path)
        df.to_csv(output_file_path, index=False, quoting=0)
        print(f"Processed {file} and saved to {output_file_path}")

Processed new_olist_customers_dataset.csv and saved to C:\Users\raj\finalproj1\new_archive (1)\new_olist_customers_dataset.csv
Processed olist_customers_dataset.csv and saved to C:\Users\raj\finalproj1\new_archive (1)\olist_customers_dataset.csv
Processed olist_geolocation_dataset.csv and saved to C:\Users\raj\finalproj1\new_archive (1)\olist_geolocation_dataset.csv
Processed olist_orders_dataset.csv and saved to C:\Users\raj\finalproj1\new_archive (1)\olist_orders_dataset.csv
Processed olist_order_items_dataset.csv and saved to C:\Users\raj\finalproj1\new_archive (1)\olist_order_items_dataset.csv
Processed olist_order_payments_dataset.csv and saved to C:\Users\raj\finalproj1\new_archive (1)\olist_order_payments_dataset.csv
Processed olist_order_reviews_dataset.csv and saved to C:\Users\raj\finalproj1\new_archive (1)\olist_order_reviews_dataset.csv
Processed olist_products_dataset.csv and saved to C:\Users\raj\finalproj1\new_archive (1)\olist_products_dataset.csv
Processed olist_sellers_dataset.csv and saved to C:\Users\raj\finalproj1\new_archive (1)\olist_sellers_dataset.csv
Processed product_category_name_translation.csv and saved to C:\Users\raj\finalproj1\new_archive (1)\product_category_name_translation.csv

In [ ]:
To ensure clean and structured analysis, I first transformed the raw datasets into SQL-ready fact and dimension tables (e.g., `dim_customers`, `fact_orders`, etc.).

This preprocessing was done in a separate notebook (`sql_format_converter.ipynb`) and reflects how data is handled in real-world analytics workflows. The structured data was then used in this project for efficient analysis and visualization.

All cleaned and transformed files are available in the `datasets/` folder.